/* display gameboard--------------------------------------------------------- */
.gameboard {
    border: solid black;
    height: 65vh;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* display gameboard--------------------------------------------------------- */

.p1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

 .scoreboard {
    border: solid  black;
    height: 65px;
    display: flex;
    justify-content: end;
    margin: 1em;
    padding: 1em;
 }


 